body {
    font-family: Arial, sans-serif;
    background-color: #F5EFE8;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 80%;
    height: 80%;
    margin: 50px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #1F2A44;
}

textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
}

.btn_sair {
    display: flex;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 9vh;
    background-color: #ede5dd;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 4vh;
    font-weight: 600;
    padding: 0 20px; 
    box-sizing: border-box; 
}

.header-titulo {
    flex-grow: 1;
    text-align: center;
    margin-left: 50px; 
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #3B1E2C;
    color: #FFFFFF;
    border: none;
}

button:hover {
    background-color: #EFB661;
}

#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    text-align: left;
    display: none;
}