*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Poppins', sans-serif;
}

body{
background:#F5EFE8;
color:#3B1E2C;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
}

nav ul{
display:flex;
gap:40px;
list-style:none;
}

nav a{
text-decoration:none;
color:#3B1E2C;
}

.btn-outline{
border:1px solid #C9A97B;
background:none;
padding:8px 25px;
border-radius:6px;
cursor:pointer;
}


/* LOGIN / CADASTRO */

.auth{
display:flex;
justify-content:center;
align-items:center;
min-height:80vh;
}

.auth-box{
background:#F0E6D8;
padding:40px;
width:420px;
border-radius:12px;
box-shadow:0 4px 15px rgba(0,0,0,0.1);
text-align:center;
}

.auth-box h1{
margin-bottom:10px;
}

.auth-box p{
margin-bottom:25px;
color:#555;
}

.auth-box form{
display:flex;
flex-direction:column;
gap:18px;
}

.auth-box input{
padding:14px;
border-radius:8px;
border:1px solid #C9A97B;
background:#F5EFE8;
}

.btn-primary{
background:#3B1E2C;
color:white;
border:none;
padding:12px;
border-radius:8px;
cursor:pointer;
margin-top:10px;
}

.auth-link{
margin-top:20px;
}

.auth-link a{
color:#3B1E2C;
font-weight:600;
text-decoration:none;
}

.auth-link a:hover{
text-decoration:underline;
}