*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Poppins', sans-serif;
}

body {
            font-family: Arial, sans-serif;
            background-color: #F5EFE8 ;
            text-align: center;
            color: #341826;
        }
.container{
    padding: 60px;
    margin: 5% 10%;
    border-radius: 50px;
    box-shadow: 0 4px 15px #cac7bc;
    background-color: #F0E6D8 ;

}
footer{
    background-color: black;
    color: #F5EFE8;
    margin-top: 10%;
    padding-top: 20px;
}
a{  
    color: #F5EFE8;
}
.italic{
    margin: 0 5%;
    padding-bottom: 20px;
}

input{
font-size: medium;
padding:10px;
border-radius:8px;
border:1px solid #C9A97B;
background:#F5EFE8;
}

.inputs{
    display:flex;
    flex-direction: column;
    margin: 0 30%;
}

select{
    font-size: medium;
padding:10px;
border-radius:8px;
border:1px solid #C9A97B;
background:#F5EFE8;
}
button{
background:#3B1E2C;
color:white;
border:none;
padding:10px;
font-size: large;
border-radius:8px;
cursor:pointer;
margin-top:10px;
}
.explicacao{
    font-size: smaller;
    color: gray;
    margin-top: 5px;
}
.red{
    color: red;
}